RewriteEngine On
RewriteBase /AdminDashboard/
Options -Indexes

# HOME
RewriteRule ^$ views/index.php [L]

# VIEWS
RewriteRule ^categories$ views/category.php [L]
RewriteRule ^articles$ views/articles.php [L]
# API
RewriteRule ^api/([a-zA-Z0-9_-]+)$ api/$1.php [L]

